<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div id="content" class="py-4">
   <!-- <section class="section bg-white pt-5 pb-5">
      
   </section> -->
   <div class="container">
      <h2 class="text-9 text-center">Enroll in AutoPay</h2>
      <!-- <p class="text-4 text-center mb-3">Here’s Top 4 reasons to use automatic payment.</p> -->
      <div class="row mt-4">
         <div class="col-md-6 offset-3  mb-4 mb-md-0">
            <div class="hero-wrap section h-100 p-5 rounded">
               <div class="hero-mask rounded opacity-9 bg-white"></div>
               <!-- <div class="hero-bg rounded"></div> -->
               <div class="hero-content">
                  <h2 class="text-6 text-black mb-3">Why Enroll in AutoPay?</h2>
                  <p class="text-black mb-3">Your {{this.company_name}} bill can be paid on time, every time with
                     automatic
                     payments</p>
                  <h2 class="text-6 text-black mb-3">What to do</h2>
                  <p class="text-black">Please choose a payment option, enter your bank account information and we'll
                     automatically debit your account on specific date.
                     You can enroll in AutoPay. Here are your payment options</p>
                  <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-zupyter-secondary"> <i class="far fa-check-circle"></i> </div>
                     <h3 class="text-black">Account Balance</h3>
                  </div>
                  <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-zupyter-secondary"> <i class="far fa-check-circle"></i> </div>
                     <h3 class="text-black">Invoice Balance</h3>
                  </div>
               </div>
            </div>
         </div>
         <!-- <div class="col-md-6">
                  <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                     <h3>Full Statement Balance</h3>
                  </div>
                   <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                     <h3>Minimum payment due only</h3>
                  </div>
                  <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                     <h3>Minimum payment due + fixed Amount</h3>
                  </div>
                  <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                     <h3>Less headache and Easy Payments</h3>
                  </div> 
                  <div class="featured-box style-1  mb-b pb-3">
                     <div class="featured-box-icon text-primary"> <i class="far fa-check-circle"></i> </div>
                     <h3>Other Amount</h3>
                  </div>
   
               </div> -->
      </div>
      <div class="text-center mt-4 mb-4"><a href="javascript:;" (click)="on_instant_click(add_instant_popup)"
            class="btn btn-primary text-uppercase">Get Started</a></div>
   </div>
</div>

<ng-template #add_instant_popup>
   <div class="modal-header">
      <h5 class="modal-title font-weight-400">Enroll in AutoPay</h5>
      <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal('');">
         <span aria-hidden="true">&times;</span> </button>
   </div>
   <div class="modal-body p-4">
      <form id="instantForm" method="post" #instantForm="ngForm" (ngSubmit)="onAutoPaySubmit(instantForm.valid)">
         <div class="form-group">
            <label for="input-zone">Payment Source </label>
            <select class="custom-select" id="bank_account" name="bank_account" required
               [(ngModel)]="form_data.payment_source" #bank_account_obj="ngModel"
               [ngClass]="{'validation-error':!bank_account_obj.valid && (bank_account_obj.touched || instantForm.submitted)}">
               <option value=""> --- Please Select --- </option>
               <!--   <option > *ngFor="let item of this.bank_account_list" value="{{item.PayProfileID}}"
                     {{item.ACBank}}</option> -->
               <option value="add_bank"> Payment Source is required </option>
            </select>
            <span class="text-muted">(Routing Number : 111100088884)</span>
         </div>
         <div class="form-group">
            <label for="pay_with_date">Payment Withdrawal Date <span class="text-danger mt-1">*</span></label>
            <div class="input-group">
               <input type="text" class="form-control" id="card_name" name="card_name" data-bv-field="card_name"
                  required [(ngModel)]="form_data['pay_with_date']" #pay_with_date_o="ngModel"
                  [ngClass]="{'validation-error':!pay_with_date_o.valid && (pay_with_date_o.touched || instantForm.submitted)}"
                  required placeholder="MM/DD/YYYY">
            </div>
            <div class="invalid-error"
               *ngIf="pay_with_date_o.touched && !pay_with_date_o.valid && pay_with_date_o.value!=''">
               Payment Withdrawal Date is required
            </div>
         </div>

         <!-- <div class="form-group">
            <label for="pay_with_date">Choose Payment Option <span class="text-danger mt-1">*</span></label>

            <div class="row">
               <div class="col-12">
                  <div class="btn-group d-flex btn-group-toggle mb-3 spacing-large-button-option">
                     <label class="mr-2 btn btn-outline-secondary btn-sm shadow-none w-100 padding-top-14-per"
                        [ngClass]="{'active': form_data.pay_profile.PayType == 'BA'}">
                        <input type="radio" name="PayType" value="CC" id="BA" (change)="change_pay_typ('BA')"
                           [checked]="form_data.pay_profile.PayType == 'BA'"> Full Statement Balance </label>
                     <label class="ml-2 btn btn-outline-secondary btn-sm shadow-none w-100 padding-top-14-per "
                        [ngClass]="{'active': form_data.pay_profile.PayType == 'CC'}">
                        <input type="radio" name="PayType" value="CC" id="CC" (change)="change_pay_typ('CC')"
                           [checked]="form_data.pay_profile.PayType == 'CC'"> Minimum Payment Due </label>

                  </div>
               </div>
            </div>

            <div class="row">
               <div class="col-12">
                  <div class="btn-group d-flex btn-group-toggle mb-3 spacing-large-button-option">
                     <label class="mr-2 btn btn-outline-secondary btn-sm shadow-none w-100 padding-top-14-per"
                        [ngClass]="{'active': form_data.pay_profile.PayType == 'MPFA'}">
                        <span class="text-success">$0.00 </span> <br>
                        <input type="radio" name="PayType" value="MPFA" id="MPFA" (change)="change_pay_typ('MPFA')"
                           [checked]="form_data.pay_profile.PayType == 'BA'"> Minium Payment Due + Fixed Amount </label>
                     <label class="ml-2 btn btn-outline-secondary btn-sm shadow-none w-100 padding-top-14-per "
                        [ngClass]="{'active': form_data.pay_profile.PayType == 'OA'}">
                        <span class="text-success">$0.00 </span> <br>
                        <input type="radio" name="PayType" value="OA" id="OA" (change)="change_pay_typ('OA')"
                           [checked]="form_data.pay_profile.PayType == 'OA'"> Other Amount </label>

                  </div>
               </div>
            </div>
         </div> -->
         <p class="text-dark">Payment link made by 12:00 midnight ET will be credited to your account on the same day
         </p>
         <button class="btn btn-primary" type="submit">Sign Up</button>
      </form>
   </div>
</ng-template>