<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>

<!-- Transaction screen - start -->
<div id="content" class="py-4">
   <div class="container">

      <div class="row">
         <!--  <app-siderbar fxLayout="column" class="col-lg-3"></app-siderbar>
         <div class="col-lg-9"> -->
         <div class="col-lg-12">
            <h4 class="font-weight-400 mb-3">All Account Activity</h4>
            <!-- <div class="item" *ngIf="show_loader">
               <div class="bg-light shadow-sm rounded py-4 mb-4">
                  <ngx-skeleton-loader count="10"></ngx-skeleton-loader>
               </div>
            </div> -->
            <ng-container *ngIf="show_loader == false">
               <div class="row">
                  <div class="col mb-2">
                     <form id="transaction" method="post" #transaction="ngForm"
                        (ngSubmit)="ontransactionSearch(transaction.valid)">
                        <div class="form-row">
                           <div class="col-sm-3 col-md-6 col-lg-3 form-group">
                              <span class="icon-inside"><i class="fas fa-search"></i></span>
                              <input type="text" name="search" id="search" class="form-control"
                                 [(ngModel)]="form_data.search_string" placeholder="Search Transaction">
                           </div>

                           <div class="col-sm-3 col-md-6 col-lg-3 form-group">
                              <input type="text" placeholder="Reference from - to date" class="form-control"
                                 name="date_range" id="date_range" readonly bsDaterangepicker
                                 [bsConfig]="{ isAnimated: true }" [(ngModel)]="form_data.date_picker">
                              <span class="icon-inside"><i class="fas fa-calendar-alt"></i></span>
                           </div>
                           <div class=" col-3 col-sm-2 col-md-3 mt-3 col-lg-2 form-group" data-toggle="collapse">
                              <a class="btn-link" data-toggle="collapse" href="#allFilters" aria-expanded="false"
                                 aria-controls="allFilters"> Filters<i class="fas fa-sliders-h text-3 ml-1"></i></a>
                           </div>
                           <div class="col-9 col-sm-4 col-md-9 col-lg-4 form-group">
                              <div class="float-right">
                                 <button type="submit" class="btn btn-primary   mr-2"> <i class="fas fa-filter"></i>
                                    Search <div *ngIf="submit_show_loader"
                                       class="spinner-border text-dark spinner-border-sm" role="status">
                                       <span class="sr-only">Loading...</span>
                                    </div>
                                 </button>
                                 <button type="button" class="btn btn-primary  ml-2  " *ngIf="multiple_selected"
                                    (click)="pay_selected()">
                                    Pay <div *ngIf="pay_selected_show_loader"
                                       class="spinner-border text-dark spinner-border-sm" role="status">
                                       <span class="sr-only">Loading...</span>
                                    </div>
                                 </button>
                              </div>
                           </div>

                           <div class="col-12 collapse mb-3 text-sm-center" id="allFilters">
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="unpaid_transaction" name="transaction" value="U"
                                    [(ngModel)]="form_data.transaction_type" class="custom-control-input">
                                 <label class="custom-control-label" for="unpaid_transaction">Un-paid
                                    Transaction</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="paid_transaction" name="transaction" value="P"
                                    [(ngModel)]="form_data.transaction_type" class="custom-control-input">
                                 <label class="custom-control-label" for="paid_transaction">Paid Transactions</label>
                              </div>
                              <div class="custom-control custom-radio custom-control-inline">
                                 <input type="radio" id="all_transaction" name="transaction" value="A"
                                    [(ngModel)]="form_data.transaction_type" class="custom-control-input">
                                 <label class="custom-control-label" for="all_transaction">All Transaction</label>
                              </div>

                           </div>

                        </div>
                     </form>
                  </div>
               </div>

               <ng-container *ngIf="this.dataSource.length > 0">
                  <div class=" overflow-y-scroll max-height-500">
                     <ng-container *ngFor="let row_data of this.dataSource; let i = index;">
                        <div class="card bg-light shadow-sm rounded mb-4 d-block d-sm-block d-md-block d-lg-none">
                           <div class="card-header bg-light">
                              <div class="row">
                                 <div class="col-6">
                                    <div class="form-check custom-control custom-checkbox">
                                       <input type="checkbox" id="select_invoices_{{i}}" name="select_invoices_{{i}}"
                                          (change)="check_row_item(row_data.DocEntry)" [(ngModel)]="row_data.checked"
                                          class="custom-control-input">
                                       <label class="custom-control-label" for="select_invoices_{{i}}">
                                          {{row_data.Document}}</label>
                                    </div>
                                 </div>
                                 <div class="col-6">
                                    <div class="pull-right float-right m-auto">
                                       <a href="javascript:;" class="btn btn-primary btn-sm mr-auto mr-2"
                                          (click)="show_transaction_detail(activitydetailpopup, row_data)"> <i
                                             class="fas fa-eye mr-2"></i> View </a>
                                       &nbsp; <a href="javascript:;" class="btn btn-primary btn-sm mr-auto"
                                          (click)="pay_now(row_data)"> Pay </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="card-body">
                              <div class="row">
                                 <div class="text-left col-6">
                                    <span class="text-left "> <b> Posting Date </b> : <br class="d-md-none"> {{row_data.PostingDate}}</span> <br class="">

                                    <span class="text-left "> <b> Due Date </b> :  <br class="d-md-none"> {{row_data.DueDate}}</span> <br>
                                 </div>
                                 <div class="text-left col-6">
                                    <span class="text-left "> <b> Original Amount </b> : <br class="d-md-none"> <span *ngIf="row_data.OriginalAmt!='' && row_data.OriginalAmt!= null "> ${{row_data.OriginalAmt}} </span> </span> <br >
                                    <span class="text-left "> <b>   Applied Amount </b> :  <br class="d-md-none"> <span *ngIf="row_data.AppliedAmt!='' && row_data.AppliedAmt!= null "> ${{row_data.AppliedAmt}} </span> </span>
                                 </div>
                              </div>
                              
                              <div class="text-left row">
                                 <div class="text-left col-6">

                                    <span class="text-left "> <b> Days Past Due </b> : <br class="d-md-none"> {{row_data.DaysPastDue}}</span> <br class="d-md-none">
                                 </div>
                                 <div class="text-left col-6">
                                    <span class="text-left "> <b> Balance Due </b> : <br class="d-md-none"> <span *ngIf="row_data.BalanceDue!='' && row_data.BalanceDue!= null "> ${{row_data.BalanceDue}} </span> </span> <br class="d-md-none">
                                 </div>
                              </div>
                           </div>

                        </div>
                     </ng-container>
                  </div>
               </ng-container>


               <div class="bg-light shadow-sm rounded mb-4 d-none d-sm-none d-md-none d-lg-block">
                  <!-- <h3 class="text-5 font-weight-400 d-flex align-items-center px-4 mb-3">All Account Activity</h3> -->

                  <div class="transaction-title py-2 px-4 zupyter-bg-primary text-white">
                     <div class="row">
                        <div class="pl-0 ml-0">
                           <div class="form-check custom-control custom-checkbox">
                              <input type="checkbox" id="createshipping" name="shipping_profile_check"
                                 [(ngModel)]="checkall" (change)="select_unselect_all()" class="custom-control-input">
                              <label class="custom-control-label" for="createshipping"></label>
                           </div>
                        </div>
                        <div class="col text-nowrap text-left">Posting Date</div>
                        <div class="col text-nowrap-md-2 col-sm-2">Document</div>
                        <div class="col text-nowrap">Due Date</div>
                        <div class="col text-nowrap ">Days Past Due</div>
                        <div class="col text-nowrap text-right">Original Amount</div>
                        <div class="col text-nowrap text-right">Applied Amount</div>
                        <div class="col text-nowrap text-right">Balance Due</div>
                        <div class="col text-nowrap col-md-2 col-sm-2 text-right">Action</div>
                     </div>
                  </div>
                  <div class="overflow-y-scroll height-500">
                     <ng-container *ngIf="this.dataSource.length > 0">
                        <div class="transaction-list" *ngFor="let row_data of this.dataSource; let i = index;">
                           <div class="transaction-item px-2 py-2">
                              <div class="row align-items-center flex-row">
                                 <div class="ml-3">
                                    <div class="form-check custom-control custom-checkbox">
                                       <input type="checkbox" id="select_invoices_{{i}}" name="select_invoices_{{i}}"
                                          (change)="check_row_item(row_data.DocEntry)" [(ngModel)]="row_data.checked"
                                          class="custom-control-input">
                                       <label class="custom-control-label" for="select_invoices_{{i}}"></label>
                                    </div>

                                 </div>
                                 <div class="col text-left">{{row_data.PostingDate}}</div>
                                 <div class="col-md-2 col-sm-2">{{row_data.Document}}</div>
                                 <div class="col">{{row_data.DueDate}}</div>
                                 <div class="col">{{row_data.DaysPastDue}}</div>
                                 <div class="col text-right">${{row_data.OriginalAmt}}</div>
                                 <div class="col text-right">${{row_data.AppliedAmt}}</div>
                                 <div class="col text-right">${{row_data.BalanceDue}}</div>
                                 <div class="col text-right col-md-2 col-sm-2"> <a href="javascript:;"
                                       class="btn btn-primary btn-sm mr-auto mr-2"
                                       (click)="show_transaction_detail(activitydetailpopup, row_data)"> <i
                                          class="fas fa-eye"></i> </a>
                                    &nbsp; <a href="javascript:;" class="btn btn-primary btn-sm mr-auto"
                                       (click)="pay_now(row_data)"> Pay </a>
                                 </div>
                              </div>
                           </div>


                        </div>
                     </ng-container>
                  </div>
                  <ng-container *ngIf="this.dataSource.length == 0">
                     <div class="transaction-list">
                        <div class="transaction-item px-2 py-2">
                           <div class="row align-items-center flex-row">
                              <div class="col text-center text-secondary">
                                 No Rows Found
                              </div>
                           </div>
                        </div>
                     </div>
                  </ng-container>

                  <ul class="pagination justify-content-center mt-2 mb-0 pb-2">
                     <a class="page-link" href="javascript:;" (click)="load_more_transactions()"
                        *ngIf="!this.loadmore_show_loader"> <b> Load More </b> </a>
                     <div class="spinner-border text-dark" role="status" *ngIf="this.loadmore_show_loader">
                        <span class="sr-only">Loading...</span>
                     </div>
                  </ul>

               </div>

            </ng-container>
         </div>

      </div>
   </div>
</div>


<ng-template #activitydetailpopup>
   <div class="modal-body">
      <div class="row ">
         <div class="col-md-12 col-sm-12 col-12">
            <div class="">
               <h5 class="text-5 font-weight-400 ml-3 mr-3 ml-2 mb-2">Transaction Details
                  <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal('')">
                     <span aria-hidden="true">&times;</span>
                  </button>
               </h5>
            </div>
         </div>
      </div>
      <div class="row no-gutters">
         <div class="col-sm-5 d-flex justify-content-center zupyter-bg-primary rounded-left py-4">
            <div class="my-auto text-center">
               <div class="text-17 text-white my-3"><i class="fas fa-building"></i></div>
               <h3 class="text-4 text-white font-weight-400 my-3">{{this.popup_transaction['Document']}}</h3>
               <div class="text-8 font-weight-500 text-white my-4">${{popup_transaction['BalanceDue']}}</div>
               <p class="text-white">{{popup_transaction['DueDate']}}</p>
            </div>
         </div>
         <div class="col-sm-7">
            <!-- <h5 class="text-5 font-weight-400 m-3">Transaction Details
               <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal('')"> <span
                     aria-hidden="true">&times;</span> </button>
            </h5> -->
            <hr>
            <div class="px-3">
               <ul class="list-unstyled">
                  <li class="mb-2">Payment Amount <span
                        class="float-right text-3">${{popup_transaction['OriginalAmt']}}</span>
                  </li>
                  <li class="mb-2">Fee <span class="float-right text-3">-$</span></li>
               </ul>
               <hr class="mb-2">
               <p class="d-flex align-items-center font-weight-500 mb-4">Total Amount <span
                     class="text-3 ml-auto">${{popup_transaction['BalanceDue']}}</span></p>
               <ul class="list-unstyled">
                  <li class="font-weight-500">Paid By:</li>
                  <li class="text-muted">{{popup_transaction['CardName']}}</li>
               </ul>
               <ul class="list-unstyled">
                  <li class="font-weight-500">Transaction ID:</li>
                  <li class="text-muted">{{popup_transaction['DocEntry']}}</li>
               </ul>
               <ul class="list-unstyled">
                  <li class="font-weight-500">Description:</li>
                  <li class="text-muted">{{this.popup_transaction['Document']}}</li>
               </ul>
               <ul class="list-unstyled">
                  <li class="font-weight-500">Status:</li>
                  <li class="text-muted"></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</ng-template>
<!-- Transaction screen - end -->