<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div id="content">
   <div class="login-signup-page mx-auto my-5">
      <ng-container *ngIf="pass_change_request_sent == 'f'">
         <h3 class="font-weight-400 text-center">Forgot Password</h3>
         <p class="lead text-center">Enter your registered Email, So we can verify its you.</p>
         <div class="bg-light shadow-md rounded p-4 mx-2">
            <form id="forgotpass" method="post" #forgotpass="ngForm" (ngSubmit)="onSubmit(forgotpass.valid, 1 )">
               <div class="form-group">
                  <label for="emailAddress">Email Address</label>
                  <input type="email" class="form-control" id="emailAddress" required placeholder="Enter Your Email"
                     required [(ngModel)]="form_data.email_address" name="email" #email="ngModel"
                     pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                     [ngClass]="{'validation-error':!email.valid && (email.touched || forgotpass.submitted)}">
                  <div class="invalid-error" *ngIf="email.touched && !email.valid && email.value!=''"> Valid Email is
                     required
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm text-right"><a class="btn-link" href="javascript:;"
                        [routerLink]="['/auth/sign-in']">Login</a></div>
               </div>
               <button class="btn btn-primary btn-block my-4" type="submit">Submit</button>
            </form>

         </div>
      </ng-container>
      <ng-container *ngIf="pass_change_request_sent == 'o'">
         <h3 class="font-weight-400 text-center">One Time Password Verification</h3>
         <p class="lead text-center">Please enter the verification code sent to your email.</p>
         <div class="bg-light shadow-md rounded p-4 mx-2">
            <form id="optform" method="post" #optform="ngForm" (ngSubmit)="onSubmit(optform.valid, 2)">

               <div class="form-group" >
                  <label for="loginPassword">One Time Password</label>
                  <input type="password" class="form-control" id="loginPassword" required placeholder="Enter OTP"
                     required [(ngModel)]="form_data.user_password" name="password" #password="ngModel"
                     [ngClass]="{'validation-error':!password.valid && (password.touched || optform.submitted)}">
                  <div class="invalid-error" *ngIf="password.touched && !password.valid && password.value!=''"> OTP is
                     required </div>
               </div>
               <div class="row">
                  <div class="col-sm text-right"><a class="btn-link" href="javascript:;"
                        (click)="pass_change_request_sent = 'f'">Forgot Password</a></div>
               </div>
               <button class="btn btn-primary btn-block my-4" type="submit">Submit</button>
            </form>

         </div>
      </ng-container>

   </div>
</div>