<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div id="content" class="py-4">
   <div class="container">
      <div class="row tablet-reserve">
         <app-siderbar fxLayout="column" class="col-lg-3"></app-siderbar>
         <!-- Middle Panel
        ============================================= -->
         <div class="col-lg-9">
            <!-- Bank Accounts
                            ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-4">eCheck payment <span class="text-muted text-4">(for
                     withdrawal)</span></h3>
               <div class="row">
                  <div class="col-12 col-sm-6 mb-2" *ngFor="let profile of this.bank_account_list">
                     <div class="account-card account-card-primary text-white rounded mb-4 mb-lg-0">
                        <div class="row no-gutters">
                           <div class="col-3 d-flex justify-content-center p-3">
                              <div class="my-auto text-center text-13"> <i class="fas fa-university"></i>
                                 <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 mb-0" *ngIf="this.profile['DefltPayProfile'] == 'True'">
                                    Primary</p>
                              </div>
                           </div>
                           <div class="col-9 border-left">
                              <div class="py-4 my-2 pl-4">
                                 <p class="text-4 font-weight-500 mb-1">{{profile.ACBank}}</p>
                                 <p class="text-4 opacity-9 mb-1">{{profile.ACNumber}}</p>
                                 <p class="m-0" *ngIf="profile.Active == true">Active <span class="text-3"><i
                                          class="fas fa-check-circle"></i></span>
                                 </p>
                              </div>
                           </div>
                        </div>
                        <div class="account-card-overlay rounded">
                           <a href="javascript:;" (click)="view_bank_details(viewBankPopup, profile);"
                              data-toggle="modal" class="text-light btn-link mx-2"><span class="mr-1"><i
                                    class="fas fa-share"></i></span>View</a>
                           <a href="javascript:;" (click)="editBank(addBankPopup, profile)" data-toggle="modal"
                              class="text-light btn-link mx-2"><span class="mr-1"><i
                                    class="fas fa-edit"></i></span>Edit</a>
                           <a href="javascript:;" class="text-light btn-link mx-2"
                              (click)="delete_payment_profile(profile)"><span class="mr-1"><i
                                    class="fas fa-minus-circle"></i></span>Delete</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 mb-2 mt-2"> <a href="javascript:;" data-target="#add-new-bank-account"
                        (click)="addBank(addBankPopup);"
                        class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4">
                        <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i
                                 class="fas fa-plus-circle text-zupyter"></i></span> <span
                              class="d-block text-body text-3">Add New
                              Bank Account</span> </p>
                     </a> </div>
               </div>
            </div>
            <!-- Edit Bank Account Details Modal
                            ======================================== -->
            <ng-template #viewBankPopup>
               <div class="modal-body">
                  <div class="row no-gutters">
                     <div class="col-sm-5 d-flex justify-content-center zupyter-bg-primary rounded-left py-4">
                        <div class="my-auto text-center">
                           <div class="text-17 text-white mb-3"><i class="fas fa-university"></i></div>
                           <h3 class="text-6 text-white my-3"><span
                                 *ngIf="this.current_bank!= undefined">{{this.current_bank['ACBank']}}</span></h3>
                           <div class="text-4 text-white my-4"> <span *ngIf="this.current_bank!= undefined">
                                 {{this.current_bank['ACNumber']}} </span> </div>
                           <p class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 mb-0"
                              *ngIf="this.current_bank['DefltPayProfile'] == 'True'"> Primary</p>
                        </div>
                     </div>
                     <div class="col-sm-7">
                        <h5 class="text-5 font-weight-400 m-3">Bank Account Details
                           <button type="button" class="close font-weight-400"
                              (click)="this.common_service.closeModal('')"> <span aria-hidden="true">&times;</span>
                           </button>
                        </h5>
                        <hr>
                        <div class="px-3">
                           <ul class="list-unstyled">
                              <li class="font-weight-500">Account Type:</li>
                              <li class="text-muted"> <span *ngIf="this.current_bank!= undefined"></span>
                                 {{this.current_bank['ACTypeName']}}</li>
                           </ul>
                           <ul class="list-unstyled">
                              <li class="font-weight-500">Account Name:</li>
                              <li class="text-muted"> <span *ngIf="this.current_bank!= undefined"></span>
                                 {{this.current_bank['ACName']}}</li>
                           </ul>
                           <ul class="list-unstyled">
                              <li class="font-weight-500">Account Number:</li>
                              <li class="text-muted"> <span *ngIf="this.current_bank!= undefined"></span>
                                 {{this.current_bank['ACNumber']}}</li>
                           </ul>
                           <ul class="list-unstyled">
                              <li class="font-weight-500">Status:</li>
                              <li class="text-muted" *ngIf="this.current_bank['Active'] == 'True'">Approved <span
                                    class="text-success text-3"><i class="fas fa-check-circle"></i></span></li>
                              <li class="text-muted" *ngIf="this.current_bank['Active'] == 'False'">UnApproved <span
                                    class="text-danger text-3"><i class="fas fa-times"></i></span></li>
                           </ul>
                           <p><button type="button" (click)="delete_payment_profile(this.current_bank)"
                                 class="btn btn-sm btn-outline-danger btn-block shadow-none"><span class="mr-1"><i
                                       class="fas fa-minus-circle"></i></span>Delete Account</button></p>
                        </div>
                     </div>
                  </div>
               </div>
            </ng-template>
            <!-- Add New Bank Account Details Modal
                            ======================================== -->
            <ng-template #addBankPopup>
               <div class="modal-header">
                  <h5 class="modal-title font-weight-400">{{this.bank_form_title}}</h5>
                  <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal('')">
                     <span aria-hidden="true">&times;</span> </button>
               </div>
               <div class="modal-body p-4">
                  <form id="bankForm" method="post" #bankForm="ngForm" (ngSubmit)="onBankSubmit(bankForm.valid)">
                     <div class="row mt-2">
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="accountName">Name on Account <span class="text-danger mt-1">*</span></label>
                              <input type="text" class="form-control" id="ACName" name="ACName" required
                                 data-bv-field="ACName" [(ngModel)]="bank_form_data.ACName" #ACName_o="ngModel"
                                 [ngClass]="{'validation-error':!ACName_o.valid && (ACName_o.touched || bankForm.submitted)}"
                                 required placeholder="Name on Account">
                              <div class="invalid-error"
                                 *ngIf="ACName_o.touched && !ACName_o.valid && ACName_o.value!=''"> Name
                                 on Account is
                                 required
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="input-zone">Account Type <span class="text-danger mt-1">*</span></label>
                              <select class="custom-select" id="accont_type" name="accont_type"
                                 [(ngModel)]="bank_form_data.ACTypeName" #ACTypeName_o="ngModel"
                                 (change)="account_type_change(bank_form_data.ACTypeName)"
                                 [ngClass]="{'validation-error':!ACTypeName_o.valid && (ACTypeName_o.touched || bankForm.submitted)}"
                                 required>
                                 <option value=""> --- Please Select --- </option>
                                 <option value="saving">Savings </option>
                                 <option value="checking">Checking</option>
                                 <option value="business_checking"> Business Checking</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-12">
                           <div class="form-group">
                              <label for="bankname">Bank Name <span class="text-danger mt-1">*</span></label>
                              <input type="text" class="form-control" id="ACBank" name="ACBank" required
                                 data-bv-field="ACBank" [(ngModel)]="bank_form_data.ACBank" #ACBank_o="ngModel"
                                 [ngClass]="{'validation-error':!ACBank_o.valid && (ACBank_o.touched || bankForm.submitted)}"
                                 required placeholder="Bank Name">
                              <div class="invalid-error"
                                 *ngIf="ACBank_o.touched && !ACBank_o.valid && ACBank_o.value!=''"> Bank
                                 Name is
                                 required
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="account_no">Account Number <span class="text-danger mt-1">*</span></label>
                              <input type="text" class="form-control" id="ACNumber" name="ACNumber" required
                                 data-bv-field="ACNumber" [(ngModel)]="bank_form_data.ACNumber" #ACNumber_o="ngModel"
                                 [ngClass]="{'validation-error':!ACNumber_o.valid && (ACNumber_o.touched || bankForm.submitted)}"
                                 required placeholder="Account Number">
                              <div class="invalid-error"
                                 *ngIf="ACNumber_o.touched && !ACNumber_o.valid && ACNumber_o.value!=''">
                                 Account Number is
                                 required
                              </div>
                           </div>
                        </div>
                        <div class="col-12 col-sm-6">
                           <div class="form-group">
                              <label for="aba_routing_no">ABA Routing Number <span
                                    class="text-danger mt-1">*</span></label>
                              <input type="text" class="form-control" id="ACABRouteNo" name="ACABRouteNo" required
                                 data-bv-field="ACABRouteNo" [(ngModel)]="bank_form_data.ACABRouteNo"
                                 #ACABRouteNo_o="ngModel"
                                 [ngClass]="{'validation-error':!ACABRouteNo_o.valid && (ACABRouteNo_o.touched || bankForm.submitted)}"
                                 required placeholder="ABA Routing Number">
                              <div class="invalid-error"
                                 *ngIf="ACABRouteNo_o.touched && !ACABRouteNo_o.valid && ACABRouteNo_o.value!=''">
                                 ABA Routing
                                 Number is
                                 required
                              </div>
                           </div>
                        </div>
                     </div>
                     <button class="btn btn-primary " type="submit">{{this.bank_button_title}}</button>
                  </form>
               </div>
            </ng-template>
            <!-- Bank Accounts End -->

            <!-- Credit or Debit Cards
          ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-4">Credit Cards <span class="text-muted text-4">(for
                     payments)</span></h3>
               <div class="row">
                  <div class="col-12 col-sm-6 col-lg-4 mb-2 " *ngFor="let profile of this.card_list">
                     <div class="account-card account-card-primary text-white rounded p-3 mb-4 mb-lg-0">
                        <p class="text-4">{{profile.CardNumber}}</p>
                        <p class="d-flex align-items-center"> <span
                              class="account-card-expire text-uppercase d-inline-block opacity-6 mr-2">Valid<br> thru<br>
                           </span> <span class="text-4 opacity-9">{{profile.CardExpiry}}</span> <span
                              class="bg-light text-0 text-body font-weight-500 rounded-pill d-inline-block px-2 line-height-4 opacity-8 ml-auto" *ngIf="this.profile['DefltPayProfile'] == 'True'">Primary</span>
                        </p>
                        <p class="d-flex align-items-center m-0"> <span
                              class="text-uppercase font-weight-500">{{profile.FirstName}} {{profile.LastName}}</span>
                           <img class="ml-auto" src="assets/images/payment/visa.png" alt="visa"
                              *ngIf="profile.CardType == 'Visa'" title="">
                           <img class="ml-auto" src="assets/images/payment/mastercard.png" alt="mastercard.png"
                              *ngIf="profile.CardType == 'MasterCard'" title="">
                        </p>
                        <div class="account-card-overlay rounded"> <a href="javascript:;"
                              (click)="editCard(add_card_popup, profile)" data-toggle="modal"
                              class="text-light btn-link mx-2"><span class="mr-1"><i
                                    class="fas fa-edit"></i></span>Edit</a> <a href="javascript:;"
                              (click)="delete_payment_profile(profile)" class="text-light btn-link mx-2"><span
                                 class="mr-1"><i class="fas fa-minus-circle"></i></span>Delete</a> </div>
                     </div>
                  </div>
                  <div class="col-12 col-sm-6 col-lg-4 mt-2 mb-2"> <a href="javascript:;"
                        (click)="addCard(add_card_popup);" data-toggle="modal"
                        class="account-card-new d-flex align-items-center rounded h-100 p-3 mb-4 mb-lg-0">
                        <p class="w-100 text-center line-height-4 m-0"> <span class="text-3"><i
                                 class="fas fa-plus-circle text-zupyter "></i></span> <span
                              class="d-block text-body text-3">Add New
                              Card</span> </p>
                     </a> </div>
               </div>
            </div>


            <!-- Add New Card Details Modal
          ================================== -->
            <ng-template #add_card_popup>
               <div class="modal-header">
                  <h5 class="modal-title font-weight-400">{{this.card_form_title}}</h5>
                  <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal('')">
                     <span aria-hidden="true">&times;</span> </button>
               </div>
               <div class="modal-body p-4">
                  <form id="cardForm" method="post" #cardForm="ngForm" (ngSubmit)="OnCardSubmit(cardForm.valid)">
                     <div class="form-group">
                        <label for="cardHolderName">Card Holder Name</label>
                        <input type="text" class="form-control" id="cardHolderName" name="cardHolderName" required
                           [(ngModel)]="card_form_data.CardHoldername" #CardHolder_o="ngModel"
                           [ngClass]="{'validation-error':!CardHolder_o.valid && (CardHolder_o.touched || cardForm.submitted)}"
                           required placeholder="Card Holder Name">
                        <div class="invalid-error"
                           *ngIf="CardHolder_o.touched && !CardHolder_o.valid && CardHolder_o.value!=''">
                           Card Holder Name is required
                        </div>
                     </div>
                     <div class="form-group">
                        <label for="cardNumber">Card Number <span class="text-danger mt-1">*</span></label>
                        <div class="input-group">
                           <div class="input-group-prepend"> <span class="input-group-text" *ngIf="this.method == 'M'">
                                 <img class="ml-auto" *ngIf="card_form_data.CardType == 'Visa'"
                                    src="assets/images/payment/visa.png" alt="visa" title="">
                                 <img class="ml-auto" *ngIf="card_form_data.CardType == 'MasterCard'"
                                    src="assets/images/payment/mastercard.png" alt="visa" title="">
                              </span>
                           </div>
                           <input type="text" class="form-control" id="card_name" name="card_name"
                              data-bv-field="card_name" required [(ngModel)]="card_form_data.CardNumber"
                              #CardNumber_o="ngModel"
                              [ngClass]="{'validation-error':!CardNumber_o.valid && (CardNumber_o.touched || cardForm.submitted)}"
                              required placeholder="xxxx-xxxx-xxxx-xxxx">
                        </div>
                        <div class="invalid-error"
                           *ngIf="CardNumber_o.touched && !CardNumber_o.valid && CardNumber_o.value!=''">
                           Card Number is required
                        </div>
                     </div>

                     <div class="form-row">
                        <div class="col-lg-6">
                           <div class="form-group">
                              <label for="expiryDate">Expiry Date<span class="text-danger mt-1">*</span></label>
                              <input type="text" class="form-control" id="CardExpiry" name="CardExpiry"
                                 data-bv-field="CardExpiry" required [(ngModel)]="card_form_data.CardExpiry"
                                 #CardExpiry_o="ngModel"
                                 [ngClass]="{'validation-error':!CardExpiry_o.valid && (CardExpiry_o.touched || cardForm.submitted)}"
                                 required placeholder="MM/YY">
                              <div class="invalid-error"
                                 *ngIf="CardExpiry_o.touched && !CardExpiry_o.valid && CardExpiry_o.value!=''">
                                 Expiry Date is
                                 required
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-group">
                              <label for="cvv">CVV </label>
                              <input type="password" class="form-control" id="CVV" name="CVV" data-bv-field="CVV"
                                 [(ngModel)]="card_form_data.CVV" placeholder="***">

                           </div>
                        </div>
                     </div>

                     <button class="btn btn-primary" type="submit">{{this.card_button_title}}</button>
                  </form>
               </div>
            </ng-template>
            <!-- Credit or Debit Cards End -->



         </div>
         <!-- Middle Panel End -->
      </div>
   </div>
</div>