<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>

<!-- Transaction screen - start -->
<div id="content" class="py-4">
   <div class="container ">

      <div class="row">
         <div class="col-lg-6 offset-md-3 text-center m-auto bg-white ">

            <img src="assets/images/Zelle_(payment_service)-Logo.wine.png" alt="" class="img-thumbnail w-15 mt-3">
            <h2 class="text-9">Pay with Zelle</h2>
            <p class="text-4">A Fast, Safe and easy way to pay your invoices.</p>
           <div class="text-center">
               <p class="text-4">How do I pay with Zelle?</p>
            </div>
            
              <div class="text-left">
               <div class="featured-box style-1 mb-3">
                  <div class="featured-box-icon mr-3 mt-2"><span
                        class="w-100 text-10 text-black font-weight-500">1</span></div>
                  <h3 class="ml-3 mb-0 pb-0">Access Zelle</h3>
                  <p class="ml-3">Enroll your email address or U.S Mobile number through your banking app.</p>
               </div>
               <div class="featured-box style-1 mb-3">
                  <div class="featured-box-icon mr-3 mt-2"><span
                        class="w-100 text-10 text-black font-weight-500">2</span></div>
                  <h3 class="ml-3 mb-0 pb-0">Find Om Produce email address and click pay </h3>
                  <p class="ml-3">Enter or Choose accounting@omproduce.com and click pay</p>
               </div>
               <div class="featured-box style-1 mb-3">
                  <div class="featured-box-icon mr-3 mt-4"><span
                        class="w-100 text-10 text-black font-weight-500">3</span></div>
                  <h3 class="ml-3 mb-0 pb-0">Choose the amount</h3>
                  <p class="ml-3">Enter the amount you'd like to send.</p>
               </div>
            </div>
            
            <div class="text-center">
               <p class="text-4">Send Payment to :</p>
               <div class="alert alert-primary text-4 font-weight-500" role="alert">
                  [ACCOUNTING@OMPRODUCE.COM]
               </div>
            </div>
         </div>
      </div>
   </div>
</div>