<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div id="content" class="py-4">
   <div class="container">
      <!-- <h2 class="font-weight-400 text-center mt-3">Pay Now</h2> -->
      <p class="text-4 text-center mb-4">Verification of your account is in process, kindly choose one option.</p>
      <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-6">
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-center text-5 font-weight-400 mb-4"><span> Next Step to verify</span></h3>
               <div class="text-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDLNCF7bkQqNUAQhdrfQG5-DO9C9MCLEudYF1BfJfRj9XhmCr9niAVczBxk-EecZiN0GM&usqp=CAU" alt=""
                     class="img-thumbnail w-50">
               </div>
               <p class="text-4 text-center mt-5">Two deposits will be sent to verify this account. 
                  This process should complete in two three days</p>
               
               
               <div class="text-center mt-3">
                  <button class="btn btn-primary mt-5 btn-block"  type="button">Continue </button>
               </div>

            </div>
         </div>
         <div class="col-sm-6 col-md-6 col-lg-6 col-6 ">
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-center text-5 font-weight-400 mb-4"><span> Verification is now in progress</span></h3>
               <p class="text-4 text-center">automatic account verification should complete on or around two three days. </p>
               
               <div class="text-center">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSe3zbbTYJqLjRfhpuZY-h9aysJHFM29jfKzw&usqp=CAU" alt="" class="img-thumbnail w-50">
               </div>
               <div class="text-center">
                  <button class="btn btn-primary btn-block mt-5"  type="button">Continue</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>