<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div id="content">
   <div class="mt-2 pt-2">
      <div class="login-signup-page mx-auto my-5">
         

         <div class="bg-light shadow-lg rounded-1 p-4 mx-2 mt-5 ">
            <div class="mb-2 mt-2 d-flex align-items-center"> <a class=" text-center mx-auto" href="/"
                  title="Zupyter Payment Portal"><img [src]="this.login_logo" alt="Zupyter Payment Portal" class="logo_width" /></a>
            </div>
            <hr class="mt-1 mb-1">
            <h2 class="font-weight-700 text-center">Welcome to Om Produce </h2>
            <h4 class="font-weight-700 text-center om-color">Online Application System</h4>
            <hr class="mt-1 mb-1">
            <br>
            <p class="lead text-center">Your information is safe with us.</p>
            <br>
            <div class="text-center">
               <button type="button" class="btn btn-primary btn-block text-center m-auto   mr-2" (click)="on_application_click('1', '')">
                  Start a new Application
               </button>
            </div>

            <br>
            <hr class="mt-2 mb-2">
            <br>
            
            <div class="text-center">
               <button type="button" class="btn btn-primary btn-block text-center m-auto   mr-2" (click)="on_application_click('2', resume_popup)">
                  Resume an existing Application
               </button>
            </div>
            <br>
            <p class="text-center">You will be asked for your email, phone number and zip code.</p>
            <hr class="mt-1 mb-1">
            <div class="alert bg-white text-black">
               <div class="text-center">
                  For furthur assitance contact a sales representative at
                  <b><a href="tel:+1-(214)-233-3500" class="om-color" target="_blank" >+1-(214)-233-3500</a></b>
               </div>
            </div>
            
         </div>
      </div>
   </div>
   
   
   <ng-template #resume_popup>
      <div class="modal-header">
         <h5 class="modal-title font-weight-400">Find Your Application</h5>
         <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal('')">
            <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body p-4">
         <form id="resumeForm" method="post" #resumeForm="ngForm" (ngSubmit)="OnResumeSubmit(resumeForm.valid)">
            <div class="row">
               <div class="col-lg-12 col-md-12 col-lg-12 col-12">
                  <div class="form-group">
                     <label for="accountName"><b> Email <span class="text-danger">*</span> </b> </label>
                     <input type="text" class="form-control" id="email" name="email" required
                        [(ngModel)]="resume_form.email" #email_res_o="ngModel" placeholder="Email"
                         [ngClass]="{'success-field':email_res_o.valid && email_res_o.value!='', 'validation-error':!email_res_o.valid && (email_res_o.touched || resumeForm.submitted)}"
                         >
                     <div class="invalid-error" *ngIf="(email_res_o.touched || resumeForm.submitted) && !email_res_o.valid && email_res_o.value!=''">
                        Email is
                        required
                     </div>
                  </div>
               </div>
               <div class="col-lg-12 col-md-12 col-lg-12 col-12">
                  <div class="form-group">
                     <label for="accountName"><b> Phone Number <span class="text-danger">*</span> </b>
                     </label>
                     <input type="text" class="form-control" required id="phone" name="phone"
                        [(ngModel)]="resume_form.phone" #phone_o="ngModel" placeholder="Business Phone"
                         [ngClass]="{'success-field':phone_o.valid && phone_o.value!='', 'validation-error':!phone_o.valid && (phone_o.touched || resumeForm.submitted)}">
                     <div class="invalid-error" *ngIf="(phone_o.touched || resumeForm.submitted) && !phone_o.valid && phone_o.value!=''">
                        Business Phone is required
                     </div>
                  </div>
               </div>
               <!-- <div class="col-lg-12 col-md-12 col-lg-12 col-12">
                  <div class="form-group">
                     <label for="accountName"><b> Zip Code </b> </label>
                     <input type="text" class="form-control" id="ZipCode" name="ZipCode" [(ngModel)]="resume_form.ZipCode"
                        #ZipCode_o="ngModel" placeholder="Zip Code">
   
                  </div>
               </div> -->
               
               <hr class="mt-1 mb-1">
               <button type="submit" class="btn btn-primary btn-block text-center m-auto   mr-2">
                  Search
               </button>
            </div>
         </form>
      </div>
   </ng-template>