<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div id="content" class="py-4">
   <div class="container">
      <!-- <h2 class="font-weight-400 text-center mt-3">Pay Now</h2> -->
      <p class="text-4 text-center mb-4">Pay the following invoice now quickly with small form.</p>
      <div class="row">

         <div class="col-md-7 col-lg-7 col-xl-7">
            <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3"> <a
                     class=" font-size-1-2rem page-link mr-1 float-left mt-0 pt-1 ml-0 pl-0 " href="javascript:;"
                     (click)="go_back()"> <i class="fa fa-arrow-left"></i> </a> Verify Invoices for Payment </h3>
               <div class="transaction-title py-2 px-4 zupyter-bg-primary text-white">
                  <div class="row">
                     <div class="pl-0 ml-0">
                        <div class="form-check custom-control custom-checkbox">
                           <input type="checkbox" id="createshipping" name="shipping_profile_check"
                              [(ngModel)]="checkall" (change)="select_unselect_all()" class="custom-control-input">
                           <label class="custom-control-label" for="createshipping"></label>
                        </div>
                     </div>
                     <div class="col text-nowrap ">Invoice No.</div>
                     <div class="col text-nowrap text-right">Balance Due</div>
                     <div class="col text-nowrap text-right">Payment Amount </div>
                  </div>
               </div>
               <ng-container
                  *ngIf="this.form_data['transaction_items']!= undefined && this.form_data['transaction_items'].length > 0 ">
                  <div class="transaction-list"
                     *ngFor="let row_data of this.form_data['transaction_items']; let i = index;">
                     <div class="transaction-item px-2 py-2">
                        <div class="row align-items-center flex-row">
                           <div class="ml-3">
                              <div class="form-check custom-control custom-checkbox">
                                 <input type="checkbox" id="select_invoices_{{i}}" name="select_invoices_{{i}}"
                                    (change)="check_row_item(row_data.DocEntry)" [(ngModel)]="row_data.checked"
                                    class="custom-control-input">
                                 <label class="custom-control-label" for="select_invoices_{{i}}"></label>
                              </div>

                           </div>
                           <div class="col text-nowrap">{{row_data.Document}}</div>
                           <div class="col text-nowrap text-right">${{row_data.BalanceDue}}</div>
                           <div class="col text-nowrap text-right">
                              <div class="input-group">
                                 <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                                 <input type="text" value="" [(ngModel)]="row_data.payment_amount"
                                    class="form-control text-right payment_amt_field" placeholder="Enter Payment Amount"
                                    (input)="validate_payment_amount(row_data.DocEntry, i, row_data.payment_amount, row_data.BalanceDue)">

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-container>
               <ng-container
                  *ngIf="this.form_data['transaction_items']== undefined && this.form_data['transaction_items'].length == 0 ">
                  <div class="transaction-list">
                     <div class="transaction-item px-2 py-2">
                        <div class="row align-items-center flex-row">
                           <div class="col text-center text-secondary">
                              No Rows Found
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-container>
            </div>
         </div>
         <div class="col-md-5 col-lg-5 col-xl-5">
            <div class="bg-light shadow-sm rounded p-3 p-sm-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3"> Payment Summary </h3>
               <!-- Send Money Form ============================================= -->
               <form id="payNowportal" method="post" #payNowportal="ngForm"
                  (ngSubmit)="PayNowSubmit(payNowportal.valid)">
                  <div class=""
                     [ngClass]="{'row mt-1': form_data.paymentMode != undefined && form_data.paymentMode!=''}">
                     <div class=""
                        [ngClass]="{'col-12 col-md-12': form_data.paymentMode == undefined && form_data.paymentMode=='', 'col-6 col-md-6' : form_data.paymentMode != undefined && form_data.paymentMode!= ''}">
                        <div class="form-group">
                           <label for="input-zone">Select Payment method </label>
                           <select class="custom-select" id="payment_mode" name="payment_mode" required
                              [(ngModel)]="form_data.paymentMode" #payment_mode_obj="ngModel"
                              [ngClass]="{'validation-error':!payment_mode_obj.valid && (payment_mode_obj.touched || payNowportal.submitted)}">
                              <option value=""> --- Please Select --- </option>
                              <option value="CC">Credit Card </option>
                              <option value="BA">Bank Account </option>
                           </select>
                        </div>
                     </div>
                     <div class="col-6 col-md-6">
                        <div class="form-group" *ngIf="form_data.paymentMode == 'CC'">
                           <label for="input-zone">Select Credit Card </label>
                           <select class="custom-select" id="creditcardlist" name="creditcardlist" required
                              [(ngModel)]="form_data.selected_card" #creditcardlist_obj="ngModel"
                              (change)="on_card_change(add_card_popup)"
                              [ngClass]="{'validation-error':!creditcardlist_obj.valid && (creditcardlist_obj.touched || payNowportal.submitted)}">
                              <option value=""> --- Please Select --- </option>
                              <option *ngFor="let item of this.card_list" value="{{item.PayProfileID}}">
                                 {{item.CardNumber}}</option>
                              <option value="add_card"> Add Credit Card </option>
                           </select>
                        </div>
                        <div class="form-group" *ngIf="form_data.paymentMode == 'BA'">
                           <label for="input-zone">Select Bank Account </label>
                           <select class="custom-select" id="bank_account" name="bank_account" required
                              [(ngModel)]="form_data.selected_bank" #bank_account_obj="ngModel"
                              (change)="on_bank_change(addBankPopup)"
                              [ngClass]="{'validation-error':!bank_account_obj.valid && (bank_account_obj.touched || payNowportal.submitted)}">
                              <option value=""> --- Please Select --- </option>
                              <option *ngFor="let item of this.bank_account_list" value="{{item.PayProfileID}}">
                                 {{item.ACBank}}</option>
                              <option value="add_bank"> Add Bank Account </option>
                           </select>
                        </div>
                     </div>
                  </div>

                  <div class="form-group">
                     <label for="emailID">Invoice Number</label>
                     <input type="text" value="{{this.inv_number}}" class="form-control" data-bv-field="emailid"
                        id="emailID" required placeholder="Enter Invoice Number" readonly>
                  </div>
                  <div class="form-group">
                     <label for="youSend">Payment Date</label>
                     <div class="input-group">
                        <input type="text" value="{{current_date}}" class="form-control" placeholder="Enter Due Date"
                           readonly>

                     </div>
                  </div>
                  <div class="form-group">
                     <label for="recipientGets">Total Inoices Amount</label>
                     <div class="input-group">
                        <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                        <input type="text" class="form-control" data-bv-field="recipientGets" id="recipientGets"
                           value="{{total_inv_amt}}" placeholder="" readonly>
                     </div>
                  </div>
                  <hr>
                  <div class="form-check custom-control custom-checkbox">
                     <input type="checkbox" id="agree_tandc" name="agree_tandc" class="custom-control-input" required
                        #agree_tandc_obj="ngModel" [(ngModel)]="agree_term_condition"
                        [ngClass]="{'validation-error':!agree_tandc_obj.valid && (agree_tandc_obj.touched || payNowportal.submitted)}">
                     <label class="custom-control-label" for="agree_tandc"
                        [ngClass]="{'validation-error':!agree_tandc_obj.valid && (agree_tandc_obj.touched || payNowportal.submitted)}">
                        By clicking the button below , I authorize <b>{{company_name}}</b> to charge my bank account on
                        {{current_date}} for the amount of
                        ${{total_payment_amt}} </label>
                  </div>
                  <p class="mb-1 mt-1"> <span class="font-weight-500"> Fees </span> <span
                        class="text-3 float-right">${{total_fees}}</span></p>
                  <p class="font-weight-500">Total Payment Amount<span
                        class="text-3 float-right">${{total_payment_amt}}</span></p>
                  <button class="btn btn-primary btn-block">Pay Now </button>
                  <div class=" text-muted mb-0 mb-sm-1 text-center mt-1">Powered By Authorise.net</div>
               </form>
               <!-- Send Money Form end -->
            </div>
         </div>
      </div>
   </div>
</div>

<ng-template #add_card_popup>
   <div class="modal-header">
      <h5 class="modal-title font-weight-400">Add Credit Card</h5>
      <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal(''); this.form_data.selected_card = '';">
         <span aria-hidden="true">&times;</span> </button>
   </div>
   <div class="modal-body p-4">
      <form id="cardForm" method="post" #cardForm="ngForm" (ngSubmit)="OnCardSubmit(cardForm.valid)">
         <div class="form-group">
            <label for="cardHolderName">Card Holder Name</label>
            <input type="text" class="form-control" id="cardHolderName" name="cardHolderName" required
               [(ngModel)]="card_form_data['CardHoldername']" #CardHolder_o="ngModel"
               [ngClass]="{'validation-error':!CardHolder_o.valid && (CardHolder_o.touched || cardForm.submitted)}"
               required placeholder="Card Holder Name">
            <div class="invalid-error" *ngIf="CardHolder_o.touched && !CardHolder_o.valid && CardHolder_o.value!=''">
               Card Holder Name is required
            </div>
         </div>
         <div class="form-group">
            <label for="cardNumber">Card Number <span class="text-danger mt-1">*</span></label>
            <div class="input-group">
               <input type="text" class="form-control" id="card_name" name="card_name" data-bv-field="card_name"
                  required [(ngModel)]="card_form_data['CardNumber']" #CardNumber_o="ngModel"
                  [ngClass]="{'validation-error':!CardNumber_o.valid && (CardNumber_o.touched || cardForm.submitted)}"
                  required placeholder="xxxx-xxxx-xxxx-xxxx">
            </div>
            <div class="invalid-error" *ngIf="CardNumber_o.touched && !CardNumber_o.valid && CardNumber_o.value!=''">
               Card Number is required
            </div>
         </div>

         <div class="form-row">
            <div class="col-lg-6">
               <div class="form-group">
                  <label for="expiryDate">Expiry Date<span class="text-danger mt-1">*</span></label>
                  <input type="text" class="form-control" id="CardExpiry" name="CardExpiry" data-bv-field="CardExpiry"
                     required [(ngModel)]="card_form_data['CardExpiry']" #CardExpiry_o="ngModel"
                     [ngClass]="{'validation-error':!CardExpiry_o.valid && (CardExpiry_o.touched || cardForm.submitted)}"
                     required placeholder="MM/YY">
                  <div class="invalid-error"
                     *ngIf="CardExpiry_o.touched && !CardExpiry_o.valid && CardExpiry_o.value!=''">
                     Expiry Date is
                     required
                  </div>
               </div>
            </div>
            <div class="col-lg-6">
               <div class="form-group">
                  <label for="cvv">CVV </label>
                  <input type="password" class="form-control" id="CVV" name="CVV" data-bv-field="CVV"
                     [(ngModel)]="card_form_data['CVV']" placeholder="***">

               </div>
            </div>
         </div>

         <button class="btn btn-primary" type="submit">Save Credit Card</button>
      </form>
   </div>
</ng-template>

<ng-template #addBankPopup>
   <div class="modal-header">
      <h5 class="modal-title font-weight-400">Add Bank Account</h5>
      <button type="button" class="close font-weight-400" (click)="this.common_service.closeModal(''); this.form_data.selected_bank = '';">
         <span aria-hidden="true">&times;</span> </button>
   </div>
   <div class="modal-body p-4">
      <form id="bankForm" method="post" #bankForm="ngForm" (ngSubmit)="onBankSubmit(bankForm.valid)">
         <div class="row mt-2">
            <div class="col-12 col-sm-6">
               <div class="form-group">
                  <label for="accountName">Name on Account <span class="text-danger mt-1">*</span></label>
                  <input type="text" class="form-control" id="ACName" name="ACName" required data-bv-field="ACName"
                     [(ngModel)]="bank_form_data.ACName" #ACName_o="ngModel"
                     [ngClass]="{'validation-error':!ACName_o.valid && (ACName_o.touched || bankForm.submitted)}"
                     required placeholder="Name on Account">
                  <div class="invalid-error" *ngIf="ACName_o.touched && !ACName_o.valid && ACName_o.value!=''"> Name
                     on Account is
                     required
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6">
               <div class="form-group">
                  <label for="input-zone">Account Type <span class="text-danger mt-1">*</span></label>
                  <select class="custom-select" id="accont_type" name="accont_type"
                     [(ngModel)]="bank_form_data.ACTypeName" #ACTypeName_o="ngModel"
                     (change)="account_type_change(bank_form_data.ACTypeName)"
                     [ngClass]="{'validation-error':!ACTypeName_o.valid && (ACTypeName_o.touched || bankForm.submitted)}"
                     required>
                     <option value=""> --- Please Select --- </option>
                     <option value="saving">Savings </option>
                     <option value="checking">Checking</option>
                     <option value="business_checking"> Business Checking</option>
                  </select>
               </div>
            </div>
            <div class="col-12">
               <div class="form-group">
                  <label for="bankname">Bank Name <span class="text-danger mt-1">*</span></label>
                  <input type="text" class="form-control" id="ACBank" name="ACBank" required data-bv-field="ACBank"
                     [(ngModel)]="bank_form_data.ACBank" #ACBank_o="ngModel"
                     [ngClass]="{'validation-error':!ACBank_o.valid && (ACBank_o.touched || bankForm.submitted)}"
                     required placeholder="Bank Name">
                  <div class="invalid-error" *ngIf="ACBank_o.touched && !ACBank_o.valid && ACBank_o.value!=''"> Bank
                     Name is
                     required
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6">
               <div class="form-group">
                  <label for="account_no">Account Number <span class="text-danger mt-1">*</span></label>
                  <input type="text" class="form-control" id="ACNumber" name="ACNumber" required
                     data-bv-field="ACNumber" [(ngModel)]="bank_form_data.ACNumber" #ACNumber_o="ngModel"
                     [ngClass]="{'validation-error':!ACNumber_o.valid && (ACNumber_o.touched || bankForm.submitted)}"
                     required placeholder="Account Number">
                  <div class="invalid-error" *ngIf="ACNumber_o.touched && !ACNumber_o.valid && ACNumber_o.value!=''">
                     Account Number is
                     required
                  </div>
               </div>
            </div>
            <div class="col-12 col-sm-6">
               <div class="form-group">
                  <label for="aba_routing_no">ABA Routing Number <span class="text-danger mt-1">*</span></label>
                  <input type="text" class="form-control" id="ACABRouteNo" name="ACABRouteNo" required
                     data-bv-field="ACABRouteNo" [(ngModel)]="bank_form_data.ACABRouteNo" #ACABRouteNo_o="ngModel"
                     [ngClass]="{'validation-error':!ACABRouteNo_o.valid && (ACABRouteNo_o.touched || bankForm.submitted)}"
                     required placeholder="ABA Routing Number">
                  <div class="invalid-error"
                     *ngIf="ACABRouteNo_o.touched && !ACABRouteNo_o.valid && ACABRouteNo_o.value!=''">
                     ABA Routing
                     Number is
                     required
                  </div>
               </div>
            </div>
         </div>
         <button class="btn btn-primary " type="submit">Save Bank Account</button>
      </form>
   </div>
</ng-template>