<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>
<div class=" zupyter-bg-primary" >
   <div class="container d-flex justify-content-center">
      <ul class="nav secondary-nav">
         <li class="nav-item"> <a class="nav-link active" href="javascript:;"
               [routerLink]="['/settings/profile']">Account</a></li>
         <li class="nav-item"> <a class="nav-link" href="javascript:;" [routerLink]="['/settings/profile']">Cards & Bank
               Accounts</a>
         </li>
         <li class="nav-item"> <a class="nav-link" href="javascript:;"
               [routerLink]="['/settings/profile']">Notifications</a></li>
         <li class="nav-item"> <a class="nav-link" href="javascript:;" [routerLink]="['/settings/general']">General
               Settings</a>
         </li>
      </ul>
   </div>
</div>
<!-- Secondary Menu end -->

<!-- Content
  ============================================= -->
<div id="content" class="py-4">
   <div class="container">
      <div class="row">

      <app-siderbar fxLayout="column" class="col-lg-3" ></app-siderbar> 
      

         <!-- Middle Panel ============================================= -->
         <div class="col-lg-9">

            <!-- Personal Details
          ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3">Account Details <a href="#edit-personal-details"
                     data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i
                        class="fas fa-edit mr-1"></i>Edit</a></h3>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Name</p>
                  <p class="col-sm-9">Smith Rhodes</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Date of Birth</p>
                  <p class="col-sm-9">12-09-1982</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Address</p>
                  <p class="col-sm-9">4th Floor, Plot No.22, Above Public Park, 145 Murphy Canyon Rd, Suite 100-18,<br>
                     San Ditego,<br>
                     California - 22434,<br>
                     United States.</p>
               </div>
            </div>
            <!-- Edit Details Modal
          ================================== -->
            <div id="edit-personal-details" class="modal fade " role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title font-weight-400">Personal Details</h5>
                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form id="personaldetails" method="post">
                           <div class="row">
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label for="firstName">First Name</label>
                                    <input type="text" value="Smith" class="form-control" data-bv-field="firstName"
                                       id="firstName" required placeholder="First Name">
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label for="fullName">Last Name</label>
                                    <input type="text" value="Rhodes" class="form-control" data-bv-field="fullName"
                                       id="fullName" required placeholder="Full Name">
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="birthDate">Date of Birth</label>
                                    <div class="position-relative">
                                       <input id="birthDate" value="12-09-1982" type="text" class="form-control"
                                          required placeholder="Date of Birth">
                                       <span class="icon-inside"><i class="fas fa-calendar-alt"></i></span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-12">
                                 <h3 class="text-5 font-weight-400 mt-3">Address</h3>
                                 <hr>
                              </div>
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" value="4th Floor, Plot No.22, Above Public Park"
                                       class="form-control" data-bv-field="address" id="address" required
                                       placeholder="Address 1">
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label for="city">City</label>
                                    <input id="city" value="San Ditego" type="text" class="form-control" required
                                       placeholder="City">
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label for="input-zone">State</label>
                                    <select class="custom-select" id="input-zone" name="zone_id">
                                       <option value=""> --- Please Select --- </option>
                                       <option value="3613">Alabama</option>
                                       <option value="3614">Alaska</option>
                                       <option value="3615">American Samoa</option>
                                       <option value="3616">Arizona</option>
                                       <option value="3617">Arkansas</option>
                                       <option value="3618">Armed Forces Africa</option>
                                       <option value="3619">Armed Forces Americas</option>
                                       <option value="3620">Armed Forces Canada</option>
                                       <option value="3621">Armed Forces Europe</option>
                                       <option value="3622">Armed Forces Middle East</option>
                                       <option value="3623">Armed Forces Pacific</option>
                                       <option selected="selected" value="3624">California</option>

                                    </select>
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label for="zipCode">Zip Code</label>
                                    <input id="zipCode" value="22434" type="text" class="form-control" required
                                       placeholder="City">
                                 </div>
                              </div>
                              <div class="col-12 col-sm-6">
                                 <div class="form-group">
                                    <label for="inputCountry">Country</label>
                                    <select class="custom-select" id="inputCountry" name="country_id">
                                       <option value=""> --- Please Select --- </option>
                                       <option value="244">Aaland Islands</option>
                                       <option value="1">Afghanistan</option>
                                       <option value="2">Albania</option>
                                       <option value="3">Algeria</option>
                                       <option value="4">American Samoa</option>
                                       <option value="5">Andorra</option>
                                       <option value="6">Angola</option>
                                       <option value="7">Anguilla</option>
                                       <option value="8">Antarctica</option>
                                       <option value="9">Antigua and Barbuda</option>
                                       <option value="10">Argentina</option>

                                    </select>
                                 </div>
                              </div>
                           </div>
                           <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Personal Details End -->

            <!-- Account Settings ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3">Account Settings <a href="#edit-account-settings"
                     data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i
                        class="fas fa-edit mr-1"></i>Edit</a></h3>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Language</p>
                  <p class="col-sm-9">English (United States)</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Time Zone</p>
                  <p class="col-sm-9">(GMT-06:00) Central America</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Account Status</p>
                  <p class="col-sm-9"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i
                           class="fas fa-check-circle"></i> Active</span></p>
               </div>
            </div>
            <!-- Edit Details Modal
                         ================================== -->
            <div id="edit-account-settings" class="modal fade " role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title font-weight-400">Account Settings</h5>
                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form id="accountSettings" method="post">
                           <div class="row">
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="language">Language</label>
                                    <select class="custom-select" id="language" name="language_id">
                                       <option value="1">English (United States)</option>
                                       <option value="2">Spanish </option>
                                       <option value="3">Chinese</option>
                                       <option value="4">Russian</option>
                                    </select>
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="input-timezone">Time Zone</label>
                                    <select class="custom-select" id="input-timezone" name="timezone_id">
                                       <option value="-12">(GMT-12:00) International Date Line West</option>
                                       <option value="-11">(GMT-11:00) Midway Island, Samoa</option>
                                       <option value="-10">(GMT-10:00) Hawaii</option>
                                       <option value="-9">(GMT-09:00) Alaska</option>
                                       <option value="-8">(GMT-08:00) Pacific Time (US & Canada)</option>
                                       <option value="-8">(GMT-08:00) Tijuana, Baja California</option>

                                    </select>
                                 </div>
                              </div>
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="accountStatus">Account Status</label>
                                    <select class="custom-select" id="accountStatus" name="language_id">
                                       <option value="1">Active</option>
                                       <option value="2">In Active</option>
                                    </select>
                                 </div>
                              </div>
                           </div>
                           <button class="btn btn-primary btn-block mt-2" type="submit">Save Changes</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Account Settings End -->

            <!-- Payment Profile  Settings ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3">Payment Profile Settings <a href="#edit-pay-profile-settings"
                     data-toggle="modal" class="float-right text-1 text-uppercase text-muted btn-link"><i
                        class="fas fa-edit mr-1"></i>Edit</a></h3>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Account Type</p>
                  <p class="col-sm-9"> Customer </p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Address</p>
                  <p class="col-sm-9"> (United States)</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Phone</p>
                  <p class="col-sm-9">(+91) 999-375-5651</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Payment Type</p>
                  <p class="col-sm-9">Bank Account</p>
               </div>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Sync. On Authorise.net</p>
                  <p class="col-sm-9"><span class="bg-success text-white rounded-pill d-inline-block px-2 mb-0"><i
                           class="fas fa-check-circle"></i> Active</span></p>
               </div>
            </div>
            <div id="edit-pay-profile-settings" class="modal fade " role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title font-weight-400">Payment Profile Settings</h5>
                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form id="accountSettings" method="post">
                           <div class="row">
                              <div class="col-sm-6">
                                 <h6> <b>Billing Information</b> </h6>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="form-group">
                                          <label for="input-zone">Customer Type </label>
                                          <select class="custom-select" id="input-zone" name="zone_id">
                                             <option value=""> --- Please Select --- </option>
                                             <option value="C">Customer </option>
                                             <option value="V">Vendor</option>
                                             <option value="L">Lead</option>

                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="firstName">First Name</label>
                                          <input type="text" value="" class="form-control" data-bv-field="firstName"
                                             id="firstName" required placeholder="First Name">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="fullName">Last Name</label>
                                          <input type="text" value="" class="form-control" data-bv-field="fullName"
                                             id="fullName" required placeholder="Full Name">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="CompanyName">Company Name</label>
                                          <input type="text" value="" class="form-control" data-bv-field="CompanyName"
                                             id="CompanyName" required placeholder="Company Name">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="phoneno">Phone </label>
                                          <input type="text" value="" class="form-control" data-bv-field="phoneno"
                                             id="phoneno" required placeholder="Phone">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                       <div class="form-group">
                                          <label for="address">Address</label>
                                          <input type="text" value="" class="form-control" data-bv-field="address"
                                             id="address" required placeholder="Address">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                       <div class="form-group">
                                          <label for="city">City</label>
                                          <input type="text" value="" class="form-control" data-bv-field="city"
                                             id="city" required placeholder="City">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-4">
                                       <div class="form-group">
                                          <label for="state_provision">State / Provision</label>
                                          <input type="text" value="" class="form-control"
                                             data-bv-field="state_provision" id="state_provision" required
                                             placeholder="State / Provision">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="zipcode">Zip / Postal Code </label>
                                          <input type="text" value="" class="form-control" data-bv-field="zipcode"
                                             id="zipcode" required placeholder="Zip / Postal Code">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="state_provision">Country</label>
                                          <select class="custom-select" id="inputCountry" name="country_id">
                                             <option value=""> --- Please Select --- </option>
                                             <option value="244">Aaland Islands</option>
                                             <option value="1">Afghanistan</option>
                                             <option value="2">Albania</option>
                                             <option value="3">Algeria</option>
                                             <option value="4">American Samoa</option>
                                             <option value="5">Andorra</option>
                                             <option value="6">Angola</option>
                                             <option value="7">Anguilla</option>
                                             <option value="8">Antarctica</option>
                                             <option value="9">Antigua and Barbuda</option>
                                             <option value="10">Argentina</option>

                                          </select>
                                       </div>
                                    </div>

                                    <div class="col-12">
                                       <div class="form-check custom-control custom-checkbox">
                                          <input type="checkbox" id="createshipping" name="shipping_profile_check"
                                             class="custom-control-input">
                                          <label class="custom-control-label" for="createshipping">Create Shipping
                                             Profile
                                             from the information above</label>
                                       </div>
                                    </div>
                                 </div>

                              </div>
                              <div class="col-sm-6">
                                 <h6> <b>Payment Information</b> </h6>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="btn-group d-flex btn-group-toggle mb-3" data-toggle="buttons">
                                          <label class="btn btn-outline-secondary btn-sm shadow-none w-100 active">
                                             <input type="radio" name="options" id="option1" checked>
                                             Credit Card </label>
                                          <label class="btn btn-outline-secondary btn-sm shadow-none w-100"> <input
                                                type="radio" name="options" id="option2"> Debit Card </label>
                                          <label class="btn btn-outline-secondary btn-sm shadow-none w-100"> <input
                                                type="radio" name="options" id="option3">
                                             Bank Account </label>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class=" text-muted mb-0 mb-sm-1">Accpeted Method</div>
                                       <div class="">American Express, Discover, JCB , Master Card, Visa</div>
                                    </div>
                                 </div>
                                 <!-- card details  -->
                                 <div class="row">

                                    <div class="col-sm-4">
                                       <div class="form-group">
                                          <label for="cardNumber">Card Number</label>
                                          <input type="text" class="form-control" data-bv-field="cardnumber"
                                             id="cardNumber" required value="" placeholder="Card Number">
                                       </div>
                                    </div>

                                    <div class="col-sm-4">
                                       <div class="form-group">
                                          <label for="expiryDate">Expiry Date</label>
                                          <input id="expiryDate" type="text" class="form-control"
                                             data-bv-field="expiryDate" required value="" placeholder="MM/YY">
                                       </div>
                                    </div>
                                    <div class="col-sm-4">
                                       <div class="form-group">
                                          <label for="cvv">CVV</label>
                                          <input id="cvv" type="text" class="form-control" data-bv-field="cvv" required value=""
                                             placeholder="***">
                                       </div>
                                    </div>
                                 </div>
                                 <!-- Bank details  -->
                                 <div class="row">
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="accountName">Name on Account</label>
                                          <input type="text" value="" class="form-control" data-bv-field="accountName"
                                             id="accountName" required placeholder="Name on Account">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="input-zone">Account Type </label>
                                          <select class="custom-select" id="input-zone" name="zone_id">
                                             <option value=""> --- Please Select --- </option>
                                             <option value="S">Savings </option>
                                             <option value="C">Current</option>
                                          </select>
                                       </div>
                                    </div>
                                    <div class="col-12">
                                       <div class="form-group">
                                          <label for="bankname">Bank Name</label>
                                          <input type="text" value="" class="form-control" data-bv-field="bankname"
                                             id="bankname" required placeholder="Bank Name">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="account_no">Account Number</label>
                                          <input type="text" value="" class="form-control" data-bv-field="account_no" id="account_no" required
                                             placeholder="Account Number">
                                       </div>
                                    </div>
                                    <div class="col-12 col-sm-6">
                                       <div class="form-group">
                                          <label for="aba_routing_no">ABA Routing Number</label>
                                          <input type="text" value="" class="form-control" data-bv-field="aba_routing_no" id="aba_routing_no" required
                                             placeholder="ABA Routing Number">
                                       </div>
                                    </div>
                                 </div>

                                 <hr class="mt-1 mb-1">
                                 <h6> <b>Validate Profile</b> </h6>
                                 <div class="row">
                                    <div class="col-12">
                                       <div class="form-check custom-control custom-checkbox">
                                          <input type="checkbox" id="createshipping" name="shipping_profile_check"
                                             class="custom-control-input">
                                          <label class="custom-control-label" for="createshipping">Perform credit card
                                             authorization before saving data</label>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>

                           <button class="btn btn-primary text-center m-auto mt-2" type="submit">Save Changes</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Payment Profile  Settings End -->



            <!-- Email Addresses
          ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3">Email Addresses <a href="#edit-email" data-toggle="modal"
                     class="float-right text-1 text-uppercase text-muted btn-link"><i
                        class="fas fa-edit mr-1"></i>Edit</a></h3>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Email ID <span
                        class="text-muted font-weight-500">(Primary)</span></p>
                  <p class="col-sm-9">smithrhodes1982@gmail.com</p>
               </div>
            </div>
            <!-- Edit Details Modal
          ================================== -->
            <div id="edit-email" class="modal fade " role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title font-weight-400">Email Addresses</h5>
                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form id="emailAddresses" method="post">
                           <div class="row">
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="emailID">Email ID <span
                                          class="text-muted font-weight-500">(Primary)</span></label>
                                    <input type="text" value="smithrhodes1982@gmail.com" class="form-control"
                                       data-bv-field="emailid" id="emailID" required placeholder="Email ID">
                                 </div>
                              </div>
                           </div>
                           <a class="btn-link text-uppercase d-flex align-items-center text-1 float-right mb-3"
                              href="#"><span class="text-3 mr-1"><i class="fas fa-plus-circle"></i></span>Add another
                              email</a>
                           <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Email Addresses End -->

            <!-- Phone
          ============================================= -->
            <div class="bg-light shadow-sm rounded p-4 mb-4">
               <h3 class="text-5 font-weight-400 mb-3">Phone <a href="#edit-phone" data-toggle="modal"
                     class="float-right text-1 text-uppercase text-muted btn-link"><i
                        class="fas fa-edit mr-1"></i>Edit</a></h3>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">Mobile <span
                        class="text-muted font-weight-500">(Primary)</span></p>
                  <p class="col-sm-9">+1 202-555-0125</p>
               </div>
            </div>
            <!-- Edit Details Modal
          ================================== -->
            <div id="edit-phone" class="modal fade " role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title font-weight-400">Phone</h5>
                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form id="phone" method="post">
                           <div class="row">
                              <div class="col-12">
                                 <div class="form-group">
                                    <label for="mobileNumber">Mobile <span
                                          class="text-muted font-weight-500">(Primary)</span></label>
                                    <input type="text" value="+1 202-555-0125" class="form-control"
                                       data-bv-field="mobilenumber" id="mobileNumber" required
                                       placeholder="Mobile Number">
                                 </div>
                              </div>
                           </div>
                           <a class="btn-link text-uppercase d-flex align-items-center text-1 float-right mb-3"
                              href="#"><span class="text-3 mr-1"><i class="fas fa-plus-circle"></i></span>Add another
                              Phone</a>
                           <button class="btn btn-primary btn-block" type="submit">Save Changes</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Phone End -->

            <!-- Security
          ============================================= -->
            <div class="bg-light shadow-sm rounded p-4">
               <h3 class="text-5 font-weight-400 mb-3">Security <a href="#change-password" data-toggle="modal"
                     class="float-right text-1 text-uppercase text-muted btn-link"><i
                        class="fas fa-edit mr-1"></i>Edit</a></h3>
               <div class="row">
                  <p class="col-sm-3 text-muted text-sm-right mb-0 mb-sm-3">
                     <label class="col-form-label">Password</label>
                  </p>
                  <p class="col-sm-9">
                     <input type="password" class="form-control-plaintext" data-bv-field="password" id="password"
                        value="EnterPassword">
                  </p>
               </div>
            </div>
            <!-- Edit Details Modal
          ================================== -->
            <div id="change-password" class="modal fade " role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h5 class="modal-title font-weight-400">Change Password</h5>
                        <button type="button" class="close font-weight-400" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span> </button>
                     </div>
                     <div class="modal-body p-4">
                        <form id="changePassword" method="post">
                           <div class="form-group">
                              <label for="existingPassword">Confirm Current Password</label>
                              <input type="text" class="form-control" data-bv-field="existingpassword"
                                 id="existingPassword" required placeholder="Enter Current Password">
                           </div>
                           <div class="form-group">
                              <label for="newPassword">New Password</label>
                              <input type="text" class="form-control" data-bv-field="newpassword" id="newPassword"
                                 required placeholder="Enter New Password">
                           </div>
                           <div class="form-group">
                              <label for="confirmPassword">Confirm New Password</label>
                              <input type="text" class="form-control" data-bv-field="confirmgpassword"
                                 id="confirmPassword" required placeholder="Enter Confirm New Password">
                           </div>
                           <button class="btn btn-primary btn-block mt-4" type="submit">Update Password</button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
            <!-- Security End -->

         </div>
         <!-- Middle Panel End -->
      </div>
   </div>
</div>
<!-- Content end -->