<div id="preloader" *ngIf="show_loader">
   <div data-loader="dual-ring"></div>
</div>

<div id="content">
   <div class="login-signup-page mx-auto my-5">
      <h3 class="font-weight-400 text-center">Change Passowrd</h3>
      <p class="lead text-center" *ngIf="this.screen_type == 'I'">Please enter the verification code sent to you via mail.</p>
      <p class="lead text-center" *ngIf="this.screen_type == 'F'">Please enter the New  secure password .</p>
      <div class="bg-light shadow-md rounded p-4 mx-2">
         <form id="optform" method="post" #optform="ngForm" (ngSubmit)="onSubmit(optform.valid, 2)">
            <ng-container *ngIf="this.screen_type == 'I'">
               <div class="form-group">
                  <label for="otpass">One Time Password</label>
                  <div class="input-group mb-3">
                     <input [type]="password_field_type0" class="form-control" id="otpass" required placeholder="Enter OTP" required
                     [(ngModel)]="form_data.temporary_password" name="password" #temporary_p="ngModel"
                     [ngClass]="{'validation-error':!temporary_p.valid && (temporary_p.touched || optform.submitted)}">
                     <span class="input-group-text cursor-pointer" (click)="password_toggle('0')"><i class="{{password_view_icon0}}"></i></span>
                  </div>
                  <div class="invalid-error" *ngIf="temporary_p.touched && !temporary_p.valid && temporary_p.value!=''"> OTP is required </div>
               </div>
            </ng-container>
            <div class="form-group">
               <label for="newpass">New Password </label>
               <div class="input-group mb-3">
                  <input [type]="password_field_type1" class="form-control" id="newpass" required placeholder="Enter New Password" required
                     [(ngModel)]="form_data.new_password" name="password" #new_pobj="ngModel"
                     [ngClass]="{'validation-error':!new_pobj.valid && (new_pobj.touched || optform.submitted)}">
                     <span class="input-group-text cursor-pointer" (click)="password_toggle('1')"><i class="{{password_view_icon1}}"></i></span>
               </div>
               <div class="invalid-error" *ngIf="new_pobj.touched && !new_pobj.valid && new_pobj.value!=''"> New Password is required </div>
            </div>
            <div class="form-group">
               <label for="repass">Re-enter Password</label>
               <div class="input-group mb-3">
                  <input [type]="password_field_type2" class="form-control" id="repass" required placeholder="Enter Re-enter Password" required
                  [(ngModel)]="form_data.re_enter_password" name="password" #re_passob="ngModel"
                  [ngClass]="{'validation-error':!re_passob.valid && (re_passob.touched || optform.submitted)}">
                  <span class="input-group-text cursor-pointer" (click)="password_toggle('2')"><i class="{{password_view_icon2}}"></i></span>
               </div>
               <div class="invalid-error" *ngIf="re_passob.touched && !re_passob.valid && re_passob.value!=''"> Re-enter Password is required </div>
            </div>
            <div class="row">
               <div class="col-sm text-left"><a class="btn-link" href="javascript:;"
                     [routerLink]="['/auth/sign-in']">Login</a></div>
            </div>
            <button class="btn btn-primary btn-block my-4" type="submit">Submit</button>
         </form>

      </div>

   </div>
</div>