/* You can add global styles to this file, and also import other style files */

.validation-error {
    border-color: #dc3545 !important;
    padding-right: calc(1.5em + 0.75rem) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-error {
    width: 100%;
    margin-top: 0.25rem;
    font-size: .875em;
    color: #dc3545;
}

.logo_width {
    width: 150px !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.profile-pic-width-space {
    width: 60px !important;
    margin-right: 10px !important;
}

.w-160px {
    width: 160px;
}

.fixed_footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.btn-sm {
    padding: 0.3rem 0.6rem !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #f9f9f9 !important;
}

.spinner-border-sm {
    width: 1.4rem;
    height: 1.4rem;
}

.font-size-1-2rem {
    font-size: 1.2rem;

}

.account-card.account-card-primary {
    background: linear-gradient(-45deg, #6c6b6b, #0a0a0a) !important;
}

.validation-error:after {
    border: 1px solid red !important;
}

.text-capitalize {
    text-transform: capitalize
}

@media (max-width : 820px) {
    .tablet-reserve {
        flex-flow: column-reverse;
    }
}

.cross_button_pos {
    position: absolute;
    top: 2px;
    right: 10px;
}

.c-border-left-danger{
        border-left: 10px solid red;
}

.c-border-left-success {
    border-left: 10px solid green;
}

.c-border-left-black{
    border-left: 10px solid rgb(0, 0, 0);
}

.overflow-y-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
} 

.max-height-500{
    max-height: 500px;
}

.right_navigation .dropdown-menu.show {
    left: -80px !important;
}